{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>울산 약국 마스크 재고 현황</title>

    <meta name="Author" content="">
    <meta name="Description" content="울산 약국 마스크 재고 정보">
    <meta name="Keywords" content="울산 약국, 울산 마스크">

    <!-- Bootstrap core CSS -->
    <link href="{% static '/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}?{{ current_date_time }}" rel="stylesheet" type="text/css">

    <style>
    @media only screen and  (max-width: 500px){
        #title_col {
            height: 30vh !important;
        }
        #map{
            height: 70vh !important;
        }
    }
    </style>

</head>
<body>
<form>{% csrf_token %}</form>

    <div class="col-md-12" style="padding: 0">
        <div class="row" style="margin: 0">
            <div class="col-md-12" id="title_col" style="width:100vw;height:25vh;">
                <h1 style="text-align: center; padding-top: 30px;padding-bottom: 20px;">울산 약국 마스크<br>재고 현황</h1>
                <div style="text-align: center">
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="동구">동구
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked value="중구">중구
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="남구">남구
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="북구">북구
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="울주군">울주군
                      </label>
                    </div>
                    <button type="button" id="searching" class="btn btn-info">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0">
            <div class="col-md-12" id="map" style="width:100vw;height:75vh;">

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/bootstrap/vendor/jquery/jquery.min.js' %}?{{ current_date_time }}"></script>
    <script src="{% static '/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}?{{ current_date_time }}"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b4fd2b654276f5770a7ba92ab8bd72d2"></script>
    <!-- services와 clusterer, drawing 라이브러리 불러오기 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b4fd2b654276f5770a7ba92ab8bd72d2&libraries=services,clusterer,drawing"></script>
    <script src="{% static '/js/ajax_scrf.js' %}?{{ current_date_time }}"></script>
    <script src="{% static '/js/index.js' %}?{{ current_date_time }}"></script>
</body>
</html>